@model TaskTrackerPrototype.Models.TasksViewModel

@{
    ViewData["Title"] = "Today's Tasks";
}
<head>
    <style>
        .flex-container {
            display: flex;
            background-color: #4475A0;
        }

            .flex-container > div {
                background-color: #f1f1f1;
                margin: 10px;
                padding: 20px;
                font-size: 30px;
            }
            .flex-column {break-after: column}
    </style>
</head>
<div style="align-content:center">
    <a asp-area="" asp-controller="Categories" asp-action="Index" style="align-content:center">Categories</a>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="column-count:2">
    <div class="column" style="width:50%">
        <div>
            <div class="container py-7">
                <h2>Today's Schedule</h2>
                <!-- Days -->
                <div class="row">
                    <div id="Friday, Nov 13th">
                        <p>
                            Friday, Nov 13th
                        </p>
                        <ul class="list-timeline list-timeline-primary">
                            <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                                <p><span>08:00 - 12:00</span> - Class</p>
                            </li>
                            <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                                <p><span>12:00 - 13:00</span> - Lunch Break</p>
                            </li>
                            <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-4">
                                <p><span>13:00 - 15:00</span> - Class W/ Rudy</p>
                                <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-4"> Talk: OpenData / <span class="text-primary">MS Teams</span> </p>
                            </li>
                            <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                                <p><span>15:00 - 16:00</span> - Chat w/ Chris </p>
                            </li>
                            <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-6">
                                <p><span>16:00 - 18:00</span> - Homework</p>
                                <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-6"> Talk: Ninja coding / <span class="text-primary">Room 31</span> </p>
                            </li>
                            <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
                                <p><span>18:00 - 23:00</span> - Unwind</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
        <br />
        <div class="column" style="width:50%">
            <div class="container" style="break-inside: avoid-column">
                <div>
                    <h1>Today's Tasks</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tasks[0].TaskName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tasks[0].TaskDueDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tasks[0].TaskDescription)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Tasks)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TaskName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TaskDueDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TaskDescription)
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a>|
                                        <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>